html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
nav {
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  background-color: #2a9d8f;
  padding: 1%;
}
.a1 {
  width: 20%;
  text-align: center;
  margin: 0;
  padding: 1% 0 0 0;
  font-size: 125%;
  border: 1px solid #263d42;
  color: #263d42;
  text-decoration: none;
  background-color: #b9e9df;
  border-radius: 40%;
}
.a1:hover {
  background-color: #ff5a1e;
}
header {
  display: flex;
  background-color: #b9e9df;
  padding: 5%;
  height: 300px;
  color: #263d42;
  text-align: center;
}
h1 {
  height: 100px;
  font-size: 400%;
}
.div1 {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  background-color: #2a9d8f;
}
.div1 .div2 {
  padding: 7%;
}
.div1 .div2 .loginbutton {
  font-size: 125%;
  color: #263d42;
  background-color: #63c7b2;
  border-radius: 40%;
  text-decoration: none;
  border: 1px solid #263d42;
}
.div1 .div2 .loginbutton:hover {
  background-color: #ff5a1e;
}
.img2 {
  width: 40%;
  height: auto;
  border: 2px solid #2a9d8f;
  border-radius: 40%;
}
.img1 {
  width: 20%;
  height: auto;
  border: 2px solid #2a9d8f;
  border-radius: 40%;
}
