//.section1 {
//background-color: #2a9d8f;
//padding: 5%;
//border: 1px solid black;
//height: 300px;
//}

.div1 {
  padding: 2%;
  display: flex;
  justify-content: space-around;

  background-color: #2a9d8f;
  .div2 {
    padding: 7%;

    .loginbutton {
      font-size: 125%;
      color: #263d42;
      background-color: #63c7b2;
      border-radius: 40%;
      text-decoration: none;
      border: 1px solid #263d42;
      &:hover {
        background-color: #ff5a1e;
      }
    }
  }
}
.img2 {
  width: 40%;
  height: auto;
  border: 2px solid#2a9d8f;
  border-radius: 40%;
}

.img1 {
  width: 20%;
  height: auto;
  border: 2px solid #2a9d8f;
  border-radius: 40%;
}
